<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>U5P03-Java-Autenticacion</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>MostrarCatalogo</servlet-name>
    <servlet-class>servlets.MostrarCatalogoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlets.cuenta.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlets.cuenta.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Cuenta</servlet-name>
    <servlet-class>servlets.cuenta.CuentaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cuenta</servlet-name>
    <url-pattern>/Cuenta</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>filters.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mariadb://localhost/catalogo07</param-value>
  </context-param>
  <context-param>
    <param-name>usuarioLectura</param-name>
    <param-value>alumno</param-value>
  </context-param>
  <context-param>
    <param-name>usuarioEscritura</param-name>
    <param-value>alumno_rw</param-value>
  </context-param>
  <context-param>
    <param-name>passwordLectura</param-name>
    <param-value>alumno</param-value>
  </context-param>
  <context-param>
    <param-name>passwordEscritura</param-name>
    <param-value>dwes</param-value>
  </context-param>
</web-app>